.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 10px 0;
    position: relative;
    z-index: 10;
    max-width: 1080px;
    margin: 0 auto;
  }

  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0070f3;
  }

  .logoName {
    font-size: 1.5rem;
    font-weight: 400;
    color: #333;
    margin-left: 0.5rem;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
  }

  .logoLink{
    display: flex;
  }

  .containerNav{
    display: flex;
    align-items: center;
  }
  
  .menuButton {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .navList {
    display: flex;
    gap: 20px;
    list-style: none;
    margin-right: 40px;
  }
  
  .navListOpen {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background: #fff;
    padding: 10px 20px;
    border-top: 1px solid #eee;
  }

  .loginButton {
    background: #008000;
    color: #fff;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .navItem {
    color: #333;
    text-decoration: none;
    cursor: pointer;
  }
  
  .activeNavItem {
    font-weight: bold;
    color: #008000;
  }
  
  /* Responsividade */
/* Responsividade */
@media (max-width: 768px) {
  .menuButton {
    display: block;
  }

  /* Esconde por padrão */
  .navList {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background: #fff;
    padding: 10px 20px;
    border-top: 1px solid #eee;
  }

  /* Mostra quando menuOpen = true */
  .navList.navListOpen {
    display: flex;
  }

  /* Coloca botão login dentro do menu mobile */
  .loginButton {
    width: 100%;
    margin-top: 10px;
  }

  .containerNav {
    flex-direction: column;
    align-items: flex-start;
  }
}
